<VirtualHost *:{{ apache_venv_port }}>
ServerAdmin {{ apache_venv_server_admin }}
ServerName {{ apache_venv_server_name }}
ServerAlias {{ apache_venv_server_alias }}

DocumentRoot {{ apache_venv_documentroot }}

<Directory {{ apache_venv_documentroot }}>
  {% if apache_env %}
  {% for key,value in apache_env.items() %}
    SetEnv {{key}} {{value}}
  {% endfor %}
  {% endif %}

  AllowOverride All
  Require all granted
</Directory>

<Directory />
	Options FollowSymLinks
	AllowOverride all
</Directory>

ErrorLog ${APACHE_LOG_DIR}/{{apache_domain}}-error.log

# Possible values include: debug, info, notice, warn, error, crit,
# alert, emerg.
LogLevel warn

CustomLog ${APACHE_LOG_DIR}/{{apache_domain}}-access.log combined

</VirtualHost>